apache-airflow==1.10.2
docker==4.1.0
docker-compose==1.25.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
Flask==0.12.4
Flask-Admin==1.5.2
Flask-Cache==0.13.1
Flask-Login==0.4.1
flask-swagger==0.2.13
Flask-WTF==0.14.2
SQLAlchemy==1.2.19
